* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 185, 185);
}

main {
  margin: 0px 600px;
}

header {
  background-color: black;
  color: white;
  margin-bottom: 50px;
}

img {
  max-width: 100%;
}

.mainTitle {
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}