* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(189, 185, 185);
}

img {
  max-width: 100%;
}

.mainTitle {
  text-align: center;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}